## Introducing Lists

A list is a collection of items in a particular order.
In Python, square brackets ([]) indicate a list, and individual elements in the list are separated by commas.
> Index Position starts at 0, not 1

In [4]:
IT_Jobs=['sysadmin','cybersecurity','Network Engineer','Reliabilty Engineer']
print(IT_Jobs)
print(IT_Jobs[0])

['sysadmin', 'cybersecurity', 'Network Engineer', 'Reliabilty Engineer']
sysadmin

In [6]:
print(IT_Jobs[0].upper())

SYSADMIN

In [7]:
print(IT_Jobs[-1].title())

Reliabilty Engineer

In [8]:
# using individual value from the list
print(f"I would love to get a job in {IT_Jobs[1].lower()}")

I would love to get a job in cybersecurity

#### Modifying, Adding, and Removing Elements

In [10]:
#Modifying
print(IT_Jobs)
IT_Jobs[0]='DevOps'
print (IT_Jobs)

['DevOps', 'cybersecurity', 'Network Engineer', 'Reliabilty Engineer']
['DevOps', 'cybersecurity', 'Network Engineer', 'Reliabilty Engineer']

In [17]:
#Adding
Job_List=[]
Job_List.append('pharmacist')
Job_List.append('IT')
Job_List.append('Doctor')
print(Job_List)
for job in Job_List:
    print(job)

['pharmacist', 'IT', 'Doctor']
pharmacist
IT
Doctor

In [18]:
#Removing Elements from a list
print(Job_List)
del Job_List[0]
print(Job_List)

['pharmacist', 'IT', 'Doctor']
['IT', 'Doctor']

In [20]:
#pop()
cars=['honda','audi','toyota','BMW']
print(cars)
popped_cars=cars.pop()
print(cars)
print(popped_cars)

['honda', 'audi', 'toyota', 'BMW']
['honda', 'audi', 'toyota']
BMW

In [22]:
#poping Items from any position in a List
cars=['honda','audi','toyota','BMW']
print(f"The first car I owned is {cars.pop(0)}")
print(cars)

The first car I owned is honda
['audi', 'toyota', 'BMW']

**NOTE**
The remove() method deletes only the first occurrence of the value you specify. If there’s a possibility the value appears more than once in the list, you’ll need to use a loop to make sure all occurrences of the value are removed.

In [25]:
# Removing an item by value
cars=['honda','audi','toyota','BMW']
print(cars)
cars.remove('audi')
print(cars)

['honda', 'audi', 'toyota', 'BMW']
['honda', 'toyota', 'BMW']

#### Organizing a List

In [27]:
# Sorting a List Permanently with sort() Method
cars=['honda','audi','toyota','BMW']
cars.sort()
print(cars)

['BMW', 'audi', 'honda', 'toyota']

In [30]:
#sorting in reverse
cars=['honda','audi','toyota','BMW']
cars.sort(reverse=True)
print(cars)

['toyota', 'honda', 'audi', 'BMW']

In [34]:
# Sorting a list temporarily with sorted() Function
cars=['honda','audi','toyota','BMW']
print(f"Here is the original list {cars}")
print(f"Here is the sorted list {sorted(cars)}")
print(f"Here is the original list again {cars}")

Here is the original list ['honda', 'audi', 'toyota', 'BMW']
Here is the sorted list ['BMW', 'audi', 'honda', 'toyota']
Here is the original list again ['honda', 'audi', 'toyota', 'BMW']

In [37]:
# Printing a List in Reverse Order
cars=['honda','audi','toyota','BMW']
print(cars)
cars.reverse()
# Please note reverse doesn't sort backward alphabetically
print(cars)

['honda', 'audi', 'toyota', 'BMW']
['BMW', 'toyota', 'audi', 'honda']

In [38]:
# Length of List
cars=['honda','audi','toyota','BMW']
len(cars)

4

## Working with Lists

In [40]:
F1Teams=['RedBull', 'Maclaren','Mercedes','Ferrari','Alpine']
for F1Team in F1Teams:
    print(F1Team)

RedBull
Maclaren
Mercedes
Ferrari
Alpine

## Making Numerical Lists

In [41]:
for value in range(1,5):
    print(value)

1
2
3
4

In [42]:
for value in range(6):
    print(value)

0
1
2
3
4
5

In [45]:
# using range() to Make a list of Numbers
numbers=list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [46]:
# Printing even numbers using range
even_numbers=list(range(2,15,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14]

In [53]:
squares=[]
for value in range(1,10):
    square=value**2
    squares.append(square)
print(squares)

#List Comprehensions
squares=[value**2 for value in range(1,10)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
# Simple Statistics with a List of Numbers
digits=list(range(1,11))
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
1
55

#### Working with part of a List

> You can include a third value in the brackets indicating a slice. If a third value is
included, this tells Python how many items to skip between items in the specified
range.

In [5]:
F1_Teams=['RedBull','Maclaren','Ferrari','Alpine','RB','Saber','Williams','Haas','Aston_Martin']
#Slicing a List
print(F1_Teams[0:3])
print(F1_Teams[6:10])

#If we omit the first index, Python automatically starts the slice at the beginning
print(F1_Teams[:4])

# If we omit the last index then Python will slice till last
print(F1_Teams[3:])

#Using negative index to slice the last three teams
print(F1_Teams[-3:])

['RedBull', 'Maclaren', 'Ferrari']
['Williams', 'Haas', 'Aston_Martin']
['RedBull', 'Maclaren', 'Ferrari', 'Alpine']
['Alpine', 'RB', 'Saber', 'Williams', 'Haas', 'Aston_Martin']
['Williams', 'Haas', 'Aston_Martin']

#### Looping through a slice

In [2]:
 F1_Teams=['RedBull','Maclaren','Ferrari','Alpine','RB','Saber','Williams','Haas','Aston_Martin']
print("Here are the top three teams:")
for F1_Team in F1_Teams[:3]:
    print(F1_Team)

Here are the top three teams:
RedBull
Maclaren
Ferrari

#### Copying a List
To copy a list, you can make a slice that includes the entire original list by omitting the first index and the second index ([:]).

In [14]:
F1_Teams=['RedBull','Maclaren','Ferrari','Alpine','RB','Saber','Williams','Haas','Aston_Martin']
F2_Teams=F1_Teams[:]
print("My F1 Team is :")
print(F1_Teams)
print ("\nMy F2 team is :")
print(F2_Teams)
print("\n")

# To prove we have two new lists, lets add items in the list
F1_Teams.append('Audi')
F2_Teams.append('BMW')
print(F1_Teams)
print(F2_Teams)

#If we did F2_Teams=F1_Teams, This syntax actually tells Python to associate the new variable with the list that is 
# already associated with F1_Teams, so now both variables point to the same list.

My F1 Team is :
['RedBull', 'Maclaren', 'Ferrari', 'Alpine', 'RB', 'Saber', 'Williams', 'Haas', 'Aston_Martin']

My F2 team is :
['RedBull', 'Maclaren', 'Ferrari', 'Alpine', 'RB', 'Saber', 'Williams', 'Haas', 'Aston_Martin']


['RedBull', 'Maclaren', 'Ferrari', 'Alpine', 'RB', 'Saber', 'Williams', 'Haas', 'Aston_Martin', 'Audi']
['RedBull', 'Maclaren', 'Ferrari', 'Alpine', 'RB', 'Saber', 'Williams', 'Haas', 'Aston_Martin', 'BMW']

## Tuples
Python refers to values that cannot change as immutable, and an immutable list is called a tuple.

A tuple looks just like a list, except you use parentheses instead of square brackets.

Tuples are technically defined by the presence of a comma; the parentheses make them
look neater and more readable. If you want to define a tuple with one element, you
need to include a trailing comma:

my_t = (3,)

It doesn’t often make sense to build a tuple with one element, but this can happen
when tuples are generated automatically.

In [15]:
dimension=(250,50)
print(dimension[0])
print(dimension[1])

250
50

In [16]:
# Let's try to change the item in Tuple
dimension=(250,50)
dimension[0]=200

TypeError: 'tuple' object does not support item assignment